
<div id="container" style="position:absolute;">

    <!-- SVG vesalius -->
    <div id="left" style="position:absolute;width:456px;height:722px">
    
        <div style="position:absolute; z-index:2; top: 12px"><img src="/static/svg/vesalius-outline-mask-blacks.gif" style="height:702;width:445;"></div>

        <div style="position:absolute; z-index:1; top: 12px;"><img src="/static/svg/vesalius-outline-mask-highlights.gif" style="height:702;width:445;display:visible;"></div>
          
        <vesalius-svg style="position:absolute; z-index:3;width:100%;height:100%" ></vesalius-svg>
       
    </div>

    <div id="right" style="position:relative;width:900px;height:922px;left:500px;overflow-x:hidden;overflow-y:hidden">

        <div name="vesalius" ng-repeat="item in state.descriptionList">

            <h1><p id="head_text" style="text-align:left" ng-bind-html="item['header_text'] | unsafe"></p></h1>

            <div id="body_text" style="height:200px;overflow-y:scroll">
                <p ng-bind-html="item['description_text'] | unsafe"></p>
            </div>
        </div>
        <br />

      <div id="images_carousel" style="height:550px;overflow:hidden;"  ng-show="state.mediaList.length > 0">

        <uib-tabset active="active" class='tabtitle' >
            <uib-tab index="$index" ng-repeat="item in state.mediaList track by $index" heading="{{item['source_specifications']}}" active="item.active">
              <p class="tabimage"><img ng-src="/static/images/{{item['image']}}" class='slide'/></p>
              <div class="tabcontent">
                 <p ng-bind-html="item['description']|unsafe"></p> <a href="#" class="fn" uib-tooltip="{{item['citation_type']}}: {{item['citation_text']}}">[fn:  {{item['citation_short_display']}}]</a> 
              </div> 
            </uib-tab>
            
        </uib-tabset>

  </div>

    </div>
  </div>
</div>